<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/qp.css">
    
</head>
<body>
    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
            <p class="score">SCORE:{{session.get('score', 0)}}</p><br><br>
          <h2 id="question">1. Which 
            scientist stated that Electrons spin around the nucleus in a circular path?
          </h2>
         
          
          <form action="/qp1" method="post">
            <label for="">
                <input type="radio" name="option" value="a" id="" required>J.J Thompson
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="b" id="">Issac newton
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="c" id="">Rutherford
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="d" id="">Heisenberg
            </label>
              <br>
              <br>
              {%if message%}
              <h3>{{message}}</h3>
              <br>
                <button type="submit"><a href="/qp2">NEXT</a></button>
              {%endif%}
                <br>
              <button type="submit"></a>Submit</button>
             
          </form>

          
        
    
      </div>
</body>
</html>