<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/qp.css">
</head>
<body>
    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
            <p class="score">SCORE:{{session.get('score', 0)}}</p><br><br>
          <h2 id="question">2. Which element does not emit X-rays; an exception to limitations?
          </h2>
          <form action="/qp2" method="post">
            <label for="">
                <input type="radio" name="option" value="a" id="" required>Oxygen
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="b" id="">Hydrogen
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="c" id="">Neon
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="d" id="">Krypton
            </label>
              <br>
              <br>
              {%if message%}
              <h3>{{message}}</h3>
              <button type="submit"><a href="/qp3">Next</a></button>
              {%endif%}
<br>
              <button type="submit"></a>Submit</button>
             

          </form>

          
        
    
      </div>
</body>
</html>