<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/qp.css">
</head>
<body>
    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
            <p class="score">SCORE:{{session.get('score', 0)}}</p><br><br>
          <h2 id="question">3. Nucleus of an atom is an:
          </h2>
          <div class="img">
         
          </div>
          
          <form action="/qp3" method="post">
            <label for="">
                <input type="radio" name="option" value="a" id="" required>Area filled with positive charges only
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="b" id="">Area filled with complete mass of an atom
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="c" id="">Area filled with partial positive charges and mass 
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="d" id="">Area filled with positive charges and most of the mass
            </label>
              <br>
              <br>
              {%if message%}
              <h3>{{message}}</h3>
              <button type="submit"><a href="/qp4">Next</a></button>
              {%endif%}
<br>
              <button type="submit"></a>Submit</button>
          </form>

          
        
    
      </div>
</body>
</html>