<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/qp.css">
</head>
<body>
    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
            <p class="score">SCORE:{{session.get('score', 0)}}</p><br><br>
          <h2 id="question">8. Which one of the following is a <mark>wrong</mark> conclusion of the Rutherford's experiment?

          </h2>
          <div class="img"> 
          </div>
          
          <form action="/qp8" method="post">
            <label for="">
                <input type="radio" name="option" value="a" id="" required>Space occupied by the protons is tiny
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="b" id="">Nucleus consist of positive charges only 
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="c" id="">Most of the space inside the atom is empty
            </label>
            <br>
            <label for="">
                <input type="radio" name="option" value="d" id="">Electrons spin around circuar orbits 
            </label>
              <br>
              <br>
              {%if message%}
              <h3>{{message}}</h3>
                <button type="submit"><a href="/qp9">NEXT</a></button>
              {%endif%}
<br>
              <button type="submit"></a>Submit</button>
             

          </form>

          
        
    
      </div>
</body>
</html>