<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 10%;
        }
        h1{
            text-align: center;
            font-size: 50px;
            text-decoration: underline red double;
        }

        h2{
            text-decoration: underline red double;
        }

        p{
            text-align: justify;
            font-size: 25px;
        }
        li{
            text-align: justify;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <h1>RUTHERFORD'S EXPERIMENT- A SUMMARY</h1>
    <p>
        Rutherford’s experimented by bombarding a thin sheet of gold with α-particles and then studied the trajectory of these particles after their interaction with the gold foil.
    </p>
    <h2>CONCLUSIONS</h2>
    <ul>
        <li>Most of the space in an atom is empty</li>
        <li>The space occupied by the positive charge is tiny
        </li>
        <li>The positive charges and mass of the atom were concentrated in a minimal volume within the atom
        </li>
        <li>The centre of the atom is called the nucleus
        </li>
        <li>Electron spin around the nucleus in a circular path
        </li>
    </ul>

   <h2>LIMITATIONS</h2>
   
    <ul>
        <li>Rutherford’s model was inadequate to explain the stability of an atom.
        </li>
        <li>It did not mention anything about the arrangement of an electron in orbit.
        </li>
        <li>As per Rutherford’s model, electrons revolve around the nucleus in a circular path. But particles that are in motion on a circular path would undergo acceleration, and acceleration causes radiation of energy by charged particles. Eventually, electrons should lose energy and fall into the nucleus.</li>
    </ul>
</body>
</html>